/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #120707 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c1c1; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c1c1; background-color: rgba(247,177,133,0.4)}
.cm-s-nqqwal { background-color: #120707; color: #c3c1c1; }
.cm-s-nqqwal span.cm-builtin { color: #D0745D; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #6a5656; }
.cm-s-nqqwal span.cm-keyword { color: #E4883F; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #EB9A69; }
.cm-s-nqqwal span.cm-def { color: #FBC876; }
.cm-s-nqqwal span.cm-variable { color: #F7B185; }
.cm-s-nqqwal span.cm-variable-2 { color: #FBC876; }
.cm-s-nqqwal span.cm-string { color: #D0745D; }
.cm-s-nqqwal span.cm-string-2 { color: #D0745D; }
.cm-s-nqqwal span.cm-number { color: #FBC876; }
.cm-s-nqqwal span.cm-tag { color: #E4883F; }
.cm-s-nqqwal span.cm-property { color: #F7B185; }
.cm-s-nqqwal span.cm-attribute { color: #F7B185; }
.cm-s-nqqwal span.cm-qualifier { color: #EB9A69; }
.cm-s-nqqwal span.cm-meta { color: #FBC876; }
.cm-s-nqqwal span.cm-header { color: #E4883F; }
.cm-s-nqqwal span.cm-operator { color: #E4883F; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(251,200,118,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #E4883F; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #120707); }
