@define-color foreground #c3c1c1;
@define-color background #120707;
@define-color cursor #c3c1c1;

@define-color color0 #120707;
@define-color color1 #A35A5B;
@define-color color2 #D0745D;
@define-color color3 #E4883F;
@define-color color4 #EB9A69;
@define-color color5 #FBC876;
@define-color color6 #F7B185;
@define-color color7 #c3c1c1;
@define-color color8 #6a5656;
@define-color color9 #A35A5B;
@define-color color10 #D0745D;
@define-color color11 #E4883F;
@define-color color12 #EB9A69;
@define-color color13 #FBC876;
@define-color color14 #F7B185;
@define-color color15 #c3c1c1;
