html[data-darkreader-mode] body a {
  color: rgb(208,116,93) !important;
}

@-moz-document regexp('^(?!http).*') {
  :root>* {
    background: rgb(18,7,7) !important;
  }
}

#urlbar-input-container:-moz-lwtheme, .urlbarView:-moz-lwtheme {
  background-color: color-mix(in srgb, var(--lwt-accent-color) 87%, black);
}
